/* Add a black background color to the top navigation bar */
    logo{
        top: 0;
        left: 0; 
    }

    .home{
        top: 0; 
        left: 300; 
        color: black;
    }

    search{
        top: 0; 
        left: 500; 
        width: 100;
        margin-right: 10px;
        box-sizing: border-box;
    }

    form{
      background-image: url(car.jpg);
      background-size: cover;
      color: black;
      height: 300px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;

    }
    topLinks{
      text-align: justify;
      color: black;

    }

    deals{
      display: flex;
      align-items: center;
      justify-content: center;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-size: 150%;
      color: black;
      background-image: url(line.png);
      top: 50%;
      height: 100px;
      width: 100%;
      margin-top: 10px;

    }
    featDeals{
      display:flex;
      flex: 1 1 1px;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      background-color: #ccc;
    }
    deal1, deal2, deal3{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
    }

    #deal1img, #deal2img, #deal3img{
      margin-top: 10px;
      height: 150px;
      width: auto;
      object-fit: contain;
    }
    formOptions{
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    h1{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      
    }

    h2{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 36;
      color: #FFFFFF;
      text-shadow: -1px 2px black;
    }

    select{
      margin-left: 10px;

    }

    #submitButton{
      background-color: #FFFFFF;
      margin-top: 10px;
    }

    option{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 24;
    }

    topLinks{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

